* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    column-gap: 30px;
    max-width: 500px;
    margin: 20px;
    max-height: 400px;
  }
  
  .container .tenor-gif-embed {
    max-width: 200px;
  }
  .tenor-gif-embed,img{
    max-width: 200px;
  }
 p{
  font-family: cursive;
  font-size: 20px;
 }
 h1{
  font-family:cursive;
font-size: 32px;
 }
  
  .container .btn {
    display: flex;
    gap: 25px;
  }
  
  .btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
   
    padding: 11px 50px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
    font-size: 23px;
  }
  @media (max-width:600px) {
    .container {
      max-width: 200vmin;
      max-height: 500px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 20px;
      column-gap: 30px;
    
      margin: 0 auto;
     
    }
    html,body{
      width: 100%;
      overflow-x: hidden;
      margin-top: 0;
      margin: 0 auto;
    }
    
  }